.burger {
  width: 38px;
  height: 36px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: scale 0.2s ease-in;

  .icon {
    stroke: var(--burger-color);
    width: 26px;
    height: 24px;
  }
}

@media screen and (min-width: 420px) {
  .burger:hover {
    scale: 1.03;
    transition: scale 0.2s ease-in;
  }
}

@media screen and (max-width: 420px) {
  .close .burger {
    position: fixed;
    left: 0;
    top: 0;
    width: 50px;
    height: 63px;
    background: var(--bkg-color-3);
  }
}
