.menu-link {
  display: flex;
  align-items: center;
  padding: 8px 16px 8px 18.5px;
  border-radius: 4px;
  position: relative;
  &__inner {
    display: grid;
    grid-template-columns: 28px auto;
    align-items: center;
  }

  &__icon {
    width: 20px;
    height: 20px;
    stroke: var(--grey-color);

    // position: absolute;
    // left: 18.5px;
    // top: 50%;
    // transform: translateY(-50%);
  }

  &__title {
    opacity: 1;
    transform: translatex(0);
    // transition: .2s ease-in-out;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.menu-list {
  padding: 0;
  margin: 0;

  &__item {
    list-style: none;
    margin-bottom: 8px;
    &.line {
      height: 1px;
      background: var(--line-bkg-color);
      margin: 32px 0;
    }
  }

  &__link {
    display: flex;
    justify-content: space-between;
  }

  &__count {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #8b5cf6;
    font-weight: 700;
    font-size: 10px;
    line-height: 14px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #ffffff;
  }
}

.list {
  padding: 0;
  margin: 10px 0 0 0;
  display: grid;
  gap: 8px;

  &__item {
    list-style: none;
  }
  &__link {
    color: var(--text-color-3);
    img {
      margin-right: 8px;
    }
  }
}

@media screen and (min-width: 420px) {
  .menu-link:hover,
  .menu-link.active {
    background: var(--link-bkg);
    color: var(--active-color);

    .menu-link__icon {
      stroke: var(--active-color);
    }
  }
  .menu-link.active {
    font-weight: 600;
  }

  .close {
    .menu-link {
      padding: 8px;
      &__title {
        display: none;
      }

      &__inner {
        grid-template-columns: 1fr;
      }
    }

    .list {
      display: none;
    }

    .menu-list {
      &__count {
        width: 8px;
        height: 8px;
        position: absolute;
        right: 0;
        top: 7px;
        span {
          display: none;
        }
      }
    }
  }
}
